-
  var waline_js = 'https://unpkg.2333332.xyz/@waline/client@v2/dist/waline.mjs';

  if (theme.cdn.waline) {
    waline_js = theme.cdn.waline;
  }

//- script(src=waline_js)
link(rel="stylesheet" href="https://unpkg.2333332.xyz/@waline/client@v2/dist/waline.css")

script(type="module")&attributes(dataPjax).
  import { init } from 'https://unpkg.2333332.xyz/@waline/client@v2/dist/waline.mjs';

  function loadWaline () {
    var GUEST_INFO = ['nick', 'mail', 'link'];
    var guest_info = '!{ theme.waline.meta }';

    guest_info = guest_info.split(',').filter(function(item) {
      return GUEST_INFO.indexOf(item) > -1;
    });

    init({
      el: '#waline-container',
      serverURL: '!{ theme.waline.serverURL }',
      pageSize: '!{ theme.waline.pageSize }' || 10,
      lang: '!{ theme.waline.language }' || 'zh-CN',
      pageview: location.hostname!=='localhost' && !{ theme.waline.visitor },
      path: window.location.pathname,
      meta: guest_info,
      emoji: [
        '//unpkg.2333332.xyz/@waline/emojis@1.1.0/weibo',
        '//unpkg.2333332.xyz/@waline/emojis@1.1.0/bilibili',
        '//unpkg.2333332.xyz/@waline/emojis@1.1.0/alus',
        '//unpkg.2333332.xyz/@waline/emojis@1.1.0/bmoji',
        '//unpkg.2333332.xyz/@waline/emojis@1.1.0/qq',
        '//unpkg.2333332.xyz/@waline/emojis@1.1.0/tieba'
      ],
      reaction: true,
      locale: { placeholder: '!{ theme.waline.placeholder }' },
    });
  }

  if (!{ pjax }) {
    loadWaline();
  } else {
    window.addEventListener('DOMContentLoaded', loadWaline, false);
  }
