link(
    rel="stylesheet" 
    href="https://unpkg.com/aplayer/dist/APlayer.min.css"
) 
script(src="https://unpkg.com/aplayer/dist/APlayer.min.js")
script(src="https://unpkg.com/meting@2/dist/Meting.min.js")

meting-js(
    server="netease"
    type="playlist"
    id="3214713665"
    fixed="true"
)